.sidebar {
    width: 50vw;
    float: left;
    height: 100vh;
}

.sidebar .title {
    margin-left: 10px;
    font-size: 24px;
    font-weight: 400;
}

.sidebar .new {
    padding: 0;
    padding-top: 6px;
    width: 20px;
    margin-left: 20px;
    padding-bottom: 6px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.post {
    width: calc(100% - 40px);
    margin: 20px;
    margin-bottom: 0px;
}

.voter {
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
}

.actions {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.map {
    height: 100px;
}

.voter .button {
    padding: 6;
    right: 5px;
    margin-top: 5px;
}

.voter .button.first {}

.postHeader {
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.user {
    line-height: 20px;
    margin: 15px;
    font-size: 11px;
    margin-left: 20px;
    font-weight: 300;
    margin-top: -5px;
}

.postContent {
    line-height: 20px;
    margin: 15px;
    margin-left: 20px;
    font-weight: 300;
}

.search {
    right: 20;
    top: -5px;
    position: absolute;
}
